<div (toggleSideBarForMe)="sideBarToggler()">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="sideBarToggler()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon>help_outline</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
      <mat-icon>person_outline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          Sign out
      </button>
  </mat-menu>
  </mat-toolbar>
</div>
<mat-drawer-container>
  <mat-drawer #drawer mode="side" [opened]="sideBarOpen">
    <mat-nav-list>
      <div class="profile-card">
          <div class="header">
              <h2>Soufiane FADIL</h2>
              <h4>example@email.com</h4>
          </div>
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
      </div>

      <mat-divider></mat-divider>

      <h2 matSubheader>Pages</h2>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

      <mat-divider></mat-divider>

      <h2 matSubheader>Tools</h2>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
          <mat-icon>import_contacts</mat-icon>
          Contacts
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
          <mat-icon>contact_phone</mat-icon>
          Leads
      </a>
    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>
<div class="charts">
    <div class="card">
      <div class="card_content">
        <h4>Tickets Abertos</h4>
      <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      style="width: 400px; height: 60px; display: block; margin: 0rem 1rem"
      >
      </highcharts-chart>
      </div>
    </div>
    <div class="card">
      <div class="card_content">
        <h4>Tickets em Andamento</h4>
      <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions1"
      style="width: 400px; height: 60px; display: block; margin: 0rem 1rem;">
      >
      </highcharts-chart>
      </div>
    </div>
    <div class="card">
      <div class="card_content">
        <h4>Tickets Fechados</h4>
      <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions2"
      style="width: 400px; height: 60px; display: block; margin: 0rem 1rem"
      >
      </highcharts-chart>
      </div>
    </div>
</div>
<div class="content" role="main">
  <!-- <div>
   <button (click)="OpenDialog('1000ms','500ms','')"  mat-raised-button color="primary" >Add New</button>
  </div> -->
  <mat-form-field>
   <mat-label>Pesquisa tickets</mat-label>
   <input matInput placeholder="Filter" (keyup)="Filterchange($event)">
 </mat-form-field>
   <div class="mat-elevation-z8">
     <table mat-table matSort [dataSource]="dataSource" (matSortChange)="announceSortChange($event)" >

       <!--- Note that these columns can be defined in any order.
             The actual rendered columns are set as a property on the row definition" -->

       <!-- Position Column -->
       <ng-container matColumnDef="idsolicitacaoservico">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket </th>
         <td mat-cell *matCellDef="let element"> {{element.idsolicitacaoservico}} </td>
       </ng-container>

       <ng-container matColumnDef="contrato">
         <th mat-header-cell *matHeaderCellDef> Contrato </th>
         <td mat-cell *matCellDef="let element"> {{element.Contrato}} </td>
       </ng-container>

       <ng-container matColumnDef="portfolio">
         <th mat-header-cell *matHeaderCellDef> Portfolio </th>
         <td mat-cell *matCellDef="let element"> {{element.Portfolio}} </td>
       </ng-container>

       <ng-container matColumnDef="atividade">
         <th mat-header-cell *matHeaderCellDef> Atividade </th>
         <td mat-cell *matCellDef="let element"> {{element.Atividade}} </td>
       </ng-container>

       <ng-container matColumnDef="descricao">
         <th mat-header-cell *matHeaderCellDef> Descrição </th>
         <td mat-cell *matCellDef="let element"> {{element.Descricao}} </td>
       </ng-container>

       <!-- Symbol Column -->

       <!-- <ng-container matColumnDef="action">
         <th mat-header-cell *matHeaderCellDef> Action </th>
         <td mat-cell *matCellDef="let element"> <button (click)="FunctionEdit(element.code)" mat-raised-button color="primary" >Edit</button> |
           <button mat-raised-button color="warn" (click)="FunctionDelete(element.code)">Delete</button>
         </td>
       </ng-container> -->

       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr (click)="getrow(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
     <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
   </div>
 </div>
<footer>
    &copy; All rights reserved 2023
</footer>
